@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
  --bs-font-sans-serif: "Open Sans" "Segoe UI",Roboto,"Helvetica Neue";
}
/* @import '~/node_modules/normalize.css/normalize.css'; */

header {
  position: fixed;
  height: 50px;
  background-color: #f0f0f0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.body-container {
  margin-top: 50px;
  padding-top: 16px;
}

.table-hover {
  cursor: pointer;
}